*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/CSS/fondo.jpg');
    background-size: 100%;
}

.registro{
    width: 600px;
    background: rgb(235, 235, 235);
    padding: 30px;
    margin: auto;
    margin-top: 120px;
    border-radius: 5px;
    font-family: 'Calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
}

.registro h4{
    font-size: 27px;
    margin-bottom: 20px;
}

.subtitulos{
    font-family: 'Calibri';
    font-size: 16px;
    margin-bottom: 5px;
}

.datos{
    width: 100%;
    padding: 10px;
    border-color: rgb(235, 235, 235);
    border: 1px solid;
    border-radius: 5px;
    font-family: 'Calibri';
    font-size: 16px;
    margin-bottom: 15px;
}

.boton{
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    font-family: 'Calibri';
    font-size: 17px;
    background: rgb(54, 54, 255);
}